.visualizer-canvas {
  width: 1500px;
  height: 600px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.effect-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.visualizer-container > audio {
  opacity: 0;
}

.visualizer-container > audio:hover {
  opacity: 1;
}
